 @import "style.css";

body {
    background: #F04D61 !important;
}
h1 {
    color: #fff;
    padding: 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
}

.card:hover {
    box-shadow: 0 16px 16px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.085);
    z-index: 10;
}

.card > a {
    color: black !important;
}
.card >a:hover {
    text-decoration: none !important;
}
.text-muted i {
    margin: 0 10px;
}
  
.first-posts {
    background-color: white;
}

.first-img {
    background-color: #F04D61;
    opacity: 0.6;
    transition: 1s;
    overflow: hidden;
    position: relative;
    transition: transform .5s ease;
}

.first-img:hover {
    transition: 1s;
    opacity: 1;
    transform: scale(1.085);
}

#footer-logo > h3 {
    color: #F04D61 !important;
}
.footer-tittle > h5 {
    color: #F04D61;
}

.footer-subtitle > li > a  {
    color: #F04D61 !important;
}
.footer-subtitle > li > a:hover {
    color: black !important;
}
.footer-copyright {
    color: white;
    background-color: #F04D61;
}
.footer-copyright > a {
    color: white;
}
.footer-copyright > a:hover {
    color: black;
}